@page "/AddAdult"


@using Microsoft.AspNetCore.Components
@using BlazorClient.Models
@using BlazorClient.Data
@inject NavigationManager NavigationManager
@inject IAdultData AdultData

<h3>Add Adult Here</h3>
<div style="color:red">@errorMessage</div>
<EditForm Model="@newAdult" OnValidSubmit="@AddAdultAsync">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <table class="tableAdd">
        <tr><td>First Name:</td> <td><InputText @bind-Value="newAdult.FirstName"/></td> </tr>
        <tr><td> Last Name:</td> <td><InputText @bind-Value="newAdult.LastName"/></td> </tr>
        <tr><td> Hair Color:</td> <td> <InputText @bind-Value="newAdult.HairColor"/></td></tr>
        <tr><td>Eye Color:</td> <td><InputText @bind-Value="newAdult.EyeColor"/></td></tr>
        <tr><td> Age:</td>  <td> <InputNumber @bind-Value="newAdult.Age"/></td></tr>
        <tr><td>Sex:</td>  <td><InputSelect @bind-Value="newAdult.Sex">
            <option value="">Select sex</option>
            <option value="F">Female</option>
            <option value="M">Male</option>
        </InputSelect></td></tr>
        <tr><td>  Weight:</td><td> <InputNumber  @bind-Value="newAdult.Weight"/></td></tr>
        <tr><td>Height:</td><td><InputNumber @bind-Value="newAdult.Height"/></td></tr>
        <tr><td>    Job:</td><td><InputText @bind-Value="newAdult.JobTitle.JobTitle"/></td></tr>
        <tr><td>Salary:</td><td><InputNumber @bind-Value="newAdult.JobTitle.Salary"/></td></tr>
        <tr><td><p class="actions">
            <button class="btn btn-outline-dark" type="submit">Create</button>
        </p></td></tr>
    </table>


</EditForm>

@code
{
    private Adult newAdult = new Adult();
    private  string errorMessage = "";

    // protected override async Task OnInitializedAsync()
    // {
    //     newAdult = new Adult();
    //     // newAdult.Sex = "M";
    //     // newAdult.EyeColor = "Brown";
    // }

    private async Task AddAdultAsync()
    {
        try
        {
            await AdultData.AddAdultAsync(newAdult);
            NavigationManager.NavigateTo("/AdultsList");
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
        }

    }
}